<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>This site was create by Stuart Keeble, it uses data from MapBox.com and weatherstack.com</p>
    <img class="logo" src="/img/weather.png">

    </div>


    {{>footer}}
</body>
</html>